@model IEnumerable<GeneralPolls.Core.DTOs.CandidateViewModel>
@using GeneralPolls.Core.DTOs;
<marquee>
    Try logging out then logging back in to see the option for adding candidates 
</marquee>
<nav id="AddCandidatePollRegistration">
        <span id="AddCandidate">
            @{
                if (ViewData["ShowAddCandidate"] == "True")
                {
                    <a asp-route-id="@ViewData["PollsId"]" asp-action="AddCandidates" asp-controller="GeneralPolls">
                        Add Candidate
                    </a>
                }
            }

        </span>
        <span id="PollRegistration">
            <a asp-route-id="@ViewData["PollsId"]" asp-action="VoterRegisteration" asp-controller="GeneralPolls">
                Poll Registration
            </a>
        </span>
        <span id="PollsPageLink">
            <a asp-action="PollsPage" asp-controller="GeneralPolls">
                Polls Page
            </a>
        </span>
        <b>
            @ViewData["addCandidate"]
        </b>
</nav>
<div id="candidateTableDiv">
<table id="candidateTable">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Vote</th>
                        <th>Vote Count</th>
                    </tr>
                </thead>
@{
    if (@ViewData["ShowVotes"] == "True")
    {
        <tbody>
        @foreach (var candidate in Model)
        {
                <tr>
                    <td>
                        <img style="width: 50px;" src="~/@candidate.CandidatePicturePath"> 
                    </td>
                    <td>
                        <span>@candidate.CandidateName</span>
                    </td>
                    <td>
                        <a asp-action="Vote" asp-controller="GeneralPolls" asp-route-id="@candidate.Id">Vote</a>
                    </td>
                    <td>
                        @candidate.VoteCount
                    </td>
                     @if(ViewData["ShowAddCandidate"] == "True")
                        {
                    <td>
                        <form asp-action="DeleteCandidate" asp-controller="GeneralPolls" method="get">
                            <input type="hidden" value="@candidate.Id" name="CandidateId">
                            <input type="hidden" value="@ViewData["PollsId"]" name="PollsId">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                        }

                </tr>
        }
        </tbody>
    }
    else
    {

        <tbody>
            @foreach (var candidate in Model)
            {
                <tr>
                    <td>
                        <img style="width: 50px;" src="~/@candidate.CandidatePicturePath"> 
                    </td>
                    <td>
                        <span>@candidate.CandidateName</span>
                    </td>
                    <td>
                        <a asp-action="Vote" asp-controller="GeneralPolls" asp-route-id="@candidate.Id">Vote</a>
                    </td>
                    <td>
                        Vote to show
                    </td>
                    @if(ViewData["ShowAddCandidate"] == "True")
                    {
                        <form asp-action="DeleteCandidate" asp-controller="GeneralPolls" method="get">
                            <td>
                            <input type="hidden" value="@candidate.Id" name="CandidateId">
                            <input type="hidden" value="@ViewData["PollsId"]" name="PollsId">
                            <input type="submit" value="Delete">
                            </td>
                        </form>
                    
                    }

                </tr>
            }
        </tbody>
    }
}
</table>
</div>
@ViewData["Unregistered"]
